<input type="text" class="input-sm" ng-model="vm.agence" >

<button type="button" class="btn btn-primary" ng-click="vm.showit()">button</button>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Delegation</th>
      <th>Agence</th>
      <th>Code</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Adresse</th>
      <th>Qualite</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in vm.data |orderBy:'vm.agence'">
      <th>{{item.Delegation}}</th>
      <th>{{item.Agence}}</th>
      <th>{{item.Code}}</th>
      <th>{{item.Nom}}</th>
      <th>{{item.Prenom}}</th>
      <th>{{item.Adresse}}</th>
      <th>{{item.Qualite}}</th>
    </tr>
    </tbody>
  </table>
</div>




